# Python / Virtual Envs
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/

# Datasets & Large Weights
data/
datasets/
fiftyone/
coco-2017/
Takeout/
yolo11n.pt

# Ignore all checkpoint folders and loose checkpoint directories
checkpoints/*
checkpoints_experiment3/

# Exception: Allow ONLY experiment11 and its contents
!checkpoints/experiment11/
!checkpoints/experiment11/**

# IDE / OS / Jupyter
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db